# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*.so
.venv
env/
venv/

# Node
node_modules
dist
npm-debug.log

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# System
.DS_Store

# Logs
*.log
